:root {
    --primary-bg: #F5F5F5;      
    --detail-green: #314E04;    
    --text-green: #72B85B;      
}

.footer {
    background-color: var(--detail-green); 
    color: var(--primary-bg); 
    padding: 20px 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; /* Cambia a relative si era absolute */
}

.FooterContent {
    max-width: 1200px; 
    width: 100%; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: var(--text-green);
    padding: 0 20px;
}

.FooterLinks {
    display: flex; 
    align-items: center; 
}

.FooterLinks span {
    margin: 0 10px; 
}

.FooterLinks a {
    color: var(--text-green);
    text-decoration: none; 
}

.FooterLinks a:hover {
    text-decoration: underline; 
}

.FooterContent p {
    margin: 0; 
    text-align: right; 
}