:root {
    --primary-bg: #F5F5F5;      
    --detail-green: #314E04;    
    --text-green: #72B85B;      
}

.JoinContainer {
    padding: 7rem; 
    text-align: center; 
    background-color: var(--primary-bg); 
}

.JoinContainer h2 {
    font-size: 2rem; 
    color: var(--text-green); 
    margin-bottom: 1rem; 
}

.JoinContainer p {
    font-size: 1.4rem; 
    line-height: 1.5;   
    text-align: center;  
    margin: 0 auto;  
    max-width: 800px; 
    padding: 5px 5px;  
    color: var(--detail-green); 
}

.JoinContainer button {
    background-color: var(--detail-green); 
    color: var(--primary-bg);
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.JoinContainer button:hover {
    background-color: var(--text-green);
}
