:root {
    --primary-bg: #F5F5F5;      /* Color de fondo del header */
    --detail-green: #314E04;    /* Color de detalle para hover */
    --text-green: #72B85B;      /* Color de texto principal */
}

.JoinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-bg); /* Fondo usando la variable definida */
    padding: 40px;
    /* margin-top: 20px; */
}

.JoinContainer h2 {
    color: var(--text-green); /* Color del texto principal */
    font-size: 2.5rem; /* Tamaño del título */
    margin-bottom: 20px;
}

.JoinContainer p {
    color: var(--detail-green); /* Color del texto */
    font-size: 1.2rem; /* Tamaño del texto */
    margin-bottom: 30px;
}

.JoinContainer button {
    background-color: var(--detail-green); /* Fondo del botón */
    color: var(--primary-bg); /* Color del texto del botón */
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.JoinContainer button:hover {
    background-color: var(--text-green); /* Cambio de color en hover */
}
