* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #F5F5F5;      
    --detail-green: #314E04;    
    --text-green: #72B85B;      
}

.header {
    position: absolute; 
    top: 0;              
    left: 0;            
    right: 0;            
    padding: 1rem;
    background-color: var(--detail-green); 
    color: var(--text-green);
    height: 80px;        
    display: flex;       
    justify-content: space-between; 
    align-items: center; 
}

.header img {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    background-color: transparent; 
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.nav a {
    color: var(--text-green); 
    text-decoration: none; 
    font-size: 1.25rem; 
    transition: color 0.3s;
    cursor: default; 
    margin-right: 1.5rem;
}

.nav a:hover {
    color: var(--detail-green);
    cursor: pointer;
}

.user-icon {
    width: 20px; 
    height: 20px;
}
