:root {
    --primary-bg: #F5F5F5;      
    --detail-green: #314E04;   
    --text-green: #72B85B;      
}

.adventureSection {
    padding: 7rem; 
    text-align: center; 
    background-color: var(--primary-bg);
}

.adventureTitle {
    font-size: 2rem;
    color: var(--text-green); 
    margin-bottom: 1rem; 
}

.adventureText {
    font-size: 1.4rem;  
    line-height: 1.5;  
    text-align: center;  
    margin: 0 auto;  
    max-width: 800px; 
    padding: 5px 5px; 
}
