body, html {
    height: 100%;
    margin: 0;
}

.RegisterPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

.RegisterContent {
    display: flex;
    flex: 1; /* Permite que este contenedor ocupe el espacio restante */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.RegisterContainer {
    max-width: 600px; /* Ancho máximo del formulario */
    width: 100%; /* Ancho completo */
    padding: 40px; /* Padding interno */
    text-align: center; /* Centra el texto */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
